@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.app {
    background-color:#ff9800;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;

    ::-webkit-scrollbar {
        display: none;
    }

    .creat{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: 766px;
        min-width: 715px;
        height: 10%;
        min-height: 65px;
        background-color: white;
        gap: 20px;
        border-radius: 20px;

        button {
            border: none;
            border-radius: 5px;
            padding: 15px;
            cursor: pointer;
            font-size: 16px;
            height: 49px;
        }

        input {
            border: none;
            border-radius: 5px;
            padding: 15px;
            background-color: rgb(226, 224, 222);
            font-size: 16px;
        }

    }

    .tabs {
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        max-width: 766px;
        min-width: 715px;
        height: 60%;
        border-radius: 30px;
        padding: 5px 0px 15px 0px;
        overflow: scroll;

        .row {
            background-color: rgb(226, 224, 222);
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 98%;
            min-height: 50px;
            margin-top: 10px;
            border-radius: 10px;

            .infos {
                display: flex;
                flex-direction: row;
                gap: 30px;
                width: 80%;
                margin-left: 20px;

                p {
                    width: 50%;
                }
            }

            .btns {
                display: flex;
                flex-direction: row;
                gap: 15px;
                width: 20%;
                justify-content: center;
            }

            button {
                border: none;
                border-radius: 5px;
                padding: 10px;
                cursor: pointer;
                font-weight: 700;
            }
        }
    }
}
